## Eric Browne, Isabel Osgood
## DS Capstone: ASA Data Expo
## PUMA to County, Data Merging

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### <u>Merge ACS and SVI: </u>

In [13]:
# read in ACS main:
acsMain = pd.read_csv('estiamtes19_v2.csv',engine='python')
acsMain.head()

,Total households,Married-couple family,With own children of the householder under 18 years,Cohabiting couple household,"Male householder, no spouse/partner present",Householder living alone,65 years and over,"Female householder, no spouse/partner present",Households with one or more people under 18 years,Households with one or more people 65 years and over,...,Population 5 years and over,English only,Language other than English,"Speak English less than ""very well""",Spanish,With a computer,With a broadband Internet subscription,TableID,GeoID,GeoName
0,151.0,2.0,11.0,4.0,6.0,12.0,77.0,10.0,14.0,15.0,...,111.0,112.0,113.0,122.0,115.0,152.0,153.0,CP02,05000US01003,"Baldwin County, Alabama"
1,"82,325",51.3%,3.8%,4.9%,16.7%,17.9%,"46,838",27.0%,26.3%,38.5%,...,"212,618",94.3%,5.7%,N,N,93.9%,86.7%,CP02,05000US01003,"Baldwin County, Alabama"
2,"83,501",53.8%,5.1%,4.7%,13.9%,16.6%,"43,483",27.6%,30.2%,35.4%,...,"207,144",95.2%,4.8%,N,N,92.7%,84.6%,CP02,05000US01003,"Baldwin County, Alabama"
3,NaN,NaN,NaN,NaN,NaN,NaN,*,NaN,NaN,*,...,*,NaN,NaN,NaN,NaN,NaN,NaN,CP02,05000US01003,"Baldwin County, Alabama"
4,"79,120",53.3%,3.9%,3.5%,17.0%,16.2%,"41,946",26.2%,24.9%,36.7%,...,"201,290",94.4%,5.6%,N,N,90.0%,85.0%,CP02,05000US01003,"Baldwin County, Alabama"

In [11]:
acsMain.shape

(8270, 102)

In [14]:
## Sample Every 10th row:
acsMain = acsMain.iloc[0::10, :]
acsMain = acsMain.reset_index(drop=True)
acsMain.head()

,Total households,Married-couple family,With own children of the householder under 18 years,Cohabiting couple household,"Male householder, no spouse/partner present",Householder living alone,65 years and over,"Female householder, no spouse/partner present",Households with one or more people under 18 years,Households with one or more people 65 years and over,...,Population 5 years and over,English only,Language other than English,"Speak English less than ""very well""",Spanish,With a computer,With a broadband Internet subscription,TableID,GeoID,GeoName
0,151.0,2.0,11.0,4.0,6.0,12.0,77.0,10.0,14.0,15.0,...,111.0,112.0,113.0,122.0,115.0,152.0,153.0,CP02,05000US01003,"Baldwin County, Alabama"
1,151.0,2.0,11.0,4.0,6.0,12.0,77.0,10.0,14.0,15.0,...,111.0,112.0,113.0,122.0,115.0,152.0,153.0,CP02,05000US01015,"Calhoun County, Alabama"
2,151.0,2.0,11.0,4.0,6.0,12.0,77.0,10.0,14.0,15.0,...,111.0,112.0,113.0,122.0,115.0,152.0,153.0,CP02,05000US01043,"Cullman County, Alabama"
3,151.0,2.0,11.0,4.0,6.0,12.0,77.0,10.0,14.0,15.0,...,111.0,112.0,113.0,122.0,115.0,152.0,153.0,CP02,05000US01049,"DeKalb County, Alabama"
4,151.0,2.0,11.0,4.0,6.0,12.0,77.0,10.0,14.0,15.0,...,111.0,112.0,113.0,122.0,115.0,152.0,153.0,CP02,05000US01051,"Elmore County, Alabama"

In [15]:
acsMain.shape

(827, 102)

In [16]:
# Take out the '05000US' out of the GEOID to properly join on SVI
acsMain = acsMain.replace(to_replace='05000US',value='',regex=True)
acsMain.head()

,Total households,Married-couple family,With own children of the householder under 18 years,Cohabiting couple household,"Male householder, no spouse/partner present",Householder living alone,65 years and over,"Female householder, no spouse/partner present",Households with one or more people under 18 years,Households with one or more people 65 years and over,...,Population 5 years and over,English only,Language other than English,"Speak English less than ""very well""",Spanish,With a computer,With a broadband Internet subscription,TableID,GeoID,GeoName
0,151.0,2.0,11.0,4.0,6.0,12.0,77.0,10.0,14.0,15.0,...,111.0,112.0,113.0,122.0,115.0,152.0,153.0,CP02,01003,"Baldwin County, Alabama"
1,151.0,2.0,11.0,4.0,6.0,12.0,77.0,10.0,14.0,15.0,...,111.0,112.0,113.0,122.0,115.0,152.0,153.0,CP02,01015,"Calhoun County, Alabama"
2,151.0,2.0,11.0,4.0,6.0,12.0,77.0,10.0,14.0,15.0,...,111.0,112.0,113.0,122.0,115.0,152.0,153.0,CP02,01043,"Cullman County, Alabama"
3,151.0,2.0,11.0,4.0,6.0,12.0,77.0,10.0,14.0,15.0,...,111.0,112.0,113.0,122.0,115.0,152.0,153.0,CP02,01049,"DeKalb County, Alabama"
4,151.0,2.0,11.0,4.0,6.0,12.0,77.0,10.0,14.0,15.0,...,111.0,112.0,113.0,122.0,115.0,152.0,153.0,CP02,01051,"Elmore County, Alabama"

In [18]:
acsMain['GeoID'] # worked

0      01003
1      01015
2      01043
3      01049
4      01051
       ...
822    55133
823    55139
824    55141
825    56021
826    56025
Name: GeoID, Length: 827, dtype: object

In [111]:
# Import SVI:
svi = pd.read_csv('SVI2018_US_COUNTY.csv')
print(svi.head())
print(svi.shape)

   ST       STATE ST_ABBR      COUNTY   FIPS                       LOCATION  \
0  35  NEW MEXICO      NM  Rio Arriba  35039  Rio Arriba County, New Mexico
1   1     ALABAMA      AL     Autauga   1001        Autauga County, Alabama
2   1     ALABAMA      AL      Blount   1009         Blount County, Alabama
3   1     ALABAMA      AL      Butler   1013         Butler County, Alabama
4   1     ALABAMA      AL     Calhoun   1015        Calhoun County, Alabama

     AREA_SQMI  E_TOTPOP  M_TOTPOP   E_HU  ...  F_CROWD  F_NOVEH  F_GROUPQ  \
0  5860.869195     39307         0  20044  ...        0        0         0
1   594.443459     55200         0  23315  ...        0        0         0
2   644.830460     57645         0  24222  ...        0        0         0
3   776.838201     20025         0  10026  ...        0        0         0
4   605.867251    115098         0  53682  ...        0        0         0

   F_THEME4  F_TOTAL  E_UNINSUR  M_UNINSUR  EP_UNINSUR  MP_UNINSUR  E_DAYPOP
0         1     -999       4160        588        10.6         1.5     32290
1         0        0       3875        508         7.1         0.9     37301
2         0        0       6303        732        11.0         1.3     40036
3         0        0       2005        340        10.2         1.7     17280
4         0        0      10686        796         9.4         0.7    117894

[5 rows x 123 columns]
(3142, 123)

In [47]:
svi.head()

,ST,STATE,ST_ABBR,COUNTY,FIPS,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,E_HU,...,F_CROWD,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP
0,35,NEW MEXICO,NM,Rio Arriba,35039,"Rio Arriba County, New Mexico",5860.869195,39307,0,20044,...,0,0,0,1,-999,4160,588,10.6,1.5,32290
1,1,ALABAMA,AL,Autauga,1001,"Autauga County, Alabama",594.443459,55200,0,23315,...,0,0,0,0,0,3875,508,7.1,0.9,37301
2,1,ALABAMA,AL,Blount,1009,"Blount County, Alabama",644.830460,57645,0,24222,...,0,0,0,0,0,6303,732,11.0,1.3,40036
3,1,ALABAMA,AL,Butler,1013,"Butler County, Alabama",776.838201,20025,0,10026,...,0,0,0,0,0,2005,340,10.2,1.7,17280
4,1,ALABAMA,AL,Calhoun,1015,"Calhoun County, Alabama",605.867251,115098,0,53682,...,0,0,0,0,0,10686,796,9.4,0.7,117894

In [48]:
svi = svi.drop(['STATE','ST_ABBR','ST'],axis=1)

In [49]:
#use pandas str.rjust()
#df['DATA'] = df['DATA'].astype(str)
#df['DATA'] = df['DATA'].str.rjust(6,'0')
svi['FIPS'] = svi['FIPS'].astype(str)
svi['FIPS'] = svi['FIPS'].str.rjust(5,'0')
#svi['FIPS'] = svi['FIPS'].str.zfill(5)
svi['FIPS'] = svi['FIPS'].astype(int)
svi.head()

,COUNTY,FIPS,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,E_HU,M_HU,E_HH,M_HH,...,F_CROWD,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP
0,Rio Arriba,35039,"Rio Arriba County, New Mexico",5860.869195,39307,0,20044,71,12398,439,...,0,0,0,1,-999,4160,588,10.6,1.5,32290
1,Autauga,01001,"Autauga County, Alabama",594.443459,55200,0,23315,71,21115,383,...,0,0,0,0,0,3875,508,7.1,0.9,37301
2,Blount,01009,"Blount County, Alabama",644.830460,57645,0,24222,55,20600,396,...,0,0,0,0,0,6303,732,11.0,1.3,40036
3,Butler,01013,"Butler County, Alabama",776.838201,20025,0,10026,51,6708,274,...,0,0,0,0,0,2005,340,10.2,1.7,17280
4,Calhoun,01015,"Calhoun County, Alabama",605.867251,115098,0,53682,184,45033,683,...,0,0,0,0,0,10686,796,9.4,0.7,117894

In [50]:
svi['FIPS'] = svi['FIPS'].astype(int)

In [53]:
# Rename acsMAin column 'GEOID' to 'FIPS'
acsMain = acsMain.rename(columns={'GeoID':'FIPS'})
acsMain.head()

,Total households,Married-couple family,With own children of the householder under 18 years,Cohabiting couple household,"Male householder, no spouse/partner present",Householder living alone,65 years and over,"Female householder, no spouse/partner present",Households with one or more people under 18 years,Households with one or more people 65 years and over,...,Population 5 years and over,English only,Language other than English,"Speak English less than ""very well""",Spanish,With a computer,With a broadband Internet subscription,TableID,FIPS,GeoName
0,151.0,2.0,11.0,4.0,6.0,12.0,77.0,10.0,14.0,15.0,...,111.0,112.0,113.0,122.0,115.0,152.0,153.0,CP02,01003,"Baldwin County, Alabama"
1,151.0,2.0,11.0,4.0,6.0,12.0,77.0,10.0,14.0,15.0,...,111.0,112.0,113.0,122.0,115.0,152.0,153.0,CP02,01015,"Calhoun County, Alabama"
2,151.0,2.0,11.0,4.0,6.0,12.0,77.0,10.0,14.0,15.0,...,111.0,112.0,113.0,122.0,115.0,152.0,153.0,CP02,01043,"Cullman County, Alabama"
3,151.0,2.0,11.0,4.0,6.0,12.0,77.0,10.0,14.0,15.0,...,111.0,112.0,113.0,122.0,115.0,152.0,153.0,CP02,01049,"DeKalb County, Alabama"
4,151.0,2.0,11.0,4.0,6.0,12.0,77.0,10.0,14.0,15.0,...,111.0,112.0,113.0,122.0,115.0,152.0,153.0,CP02,01051,"Elmore County, Alabama"

In [54]:
acsMain['FIPS'] = acsMain['FIPS'].astype(int)

In [61]:
acsMain.dtypes

Total households                                       object
Married-couple family                                  object
With own children of the householder under 18 years    object
Cohabiting couple household                            object
Male householder, no spouse/partner present            object
                                                        ...
With a computer                                        object
With a broadband Internet subscription                 object
TableID                                                object
FIPS                                                    int32
GeoName                                                object
Length: 102, dtype: object

In [62]:
svi.dtypes

COUNTY         object
FIPS            int32
LOCATION       object
AREA_SQMI     float64
E_TOTPOP        int64
               ...
E_UNINSUR       int64
M_UNINSUR       int64
EP_UNINSUR    float64
MP_UNINSUR    float64
E_DAYPOP        int64
Length: 120, dtype: object

In [55]:
print(f'ACS Main Size: {acsMain.shape}')
print(f'SVI Size: {svi.shape}')
# Because the ACS is larger, we will be joining on SVI

ACS Main Size: (827, 102)
SVI Size: (3142, 120)

In [57]:
acsMain.isnull().sum().sum() # no NA's in any of the col's

0

In [76]:
# check for nulls on SVI as well:
svi.isnull().sum()

COUNTY        0
FIPS          0
LOCATION      0
AREA_SQMI     0
E_TOTPOP      0
             ..
E_UNINSUR     0
M_UNINSUR     0
EP_UNINSUR    0
MP_UNINSUR    0
E_DAYPOP      0
Length: 120, dtype: int64

In [58]:
print(len(acsMain['FIPS'].unique()))
print(len(svi['FIPS'].unique()))

827
3142

In [63]:
acsMain.FIPS

0       1003
1       1015
2       1043
3       1049
4       1051
       ...
822    55133
823    55139
824    55141
825    56021
826    56025
Name: FIPS, Length: 827, dtype: int32

In [64]:
svi.FIPS

0       35039
1        1001
2        1009
3        1013
4        1015
        ...
3137    48131
3138    48505
3139    48507
3140    48127
3141    48247
Name: FIPS, Length: 3142, dtype: int32

In [80]:
## Try keeping the FIPS as strings:
acsMain['FIPS'] = acsMain['FIPS'].astype(int)
svi['FIPS'] = svi['FIPS'].astype(int)

## check to make sure theyre both strings
print(acsMain.FIPS.dtypes)
print(svi.FIPS.dtypes)

int32
int32

In [85]:
# Now try merging on FIPS
acs_svi_merged = acsMain.join(svi, on='FIPS', how='left',lsuffix='_left', rsuffix='_right')
#acs_svi_merged = acsMain.join(svi, on='FIPS', how='left')
acs_svi_merged.head()

,Total households,Married-couple family,With own children of the householder under 18 years,Cohabiting couple household,"Male householder, no spouse/partner present",Householder living alone,65 years and over,"Female householder, no spouse/partner present",Households with one or more people under 18 years,Households with one or more people 65 years and over,...,F_CROWD,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP
0,151.0,2.0,11.0,4.0,6.0,12.0,77.0,10.0,14.0,15.0,...,0.0,0.0,0.0,0.0,0.0,8835.0,1004.0,10.1,1.1,79642.0
1,151.0,2.0,11.0,4.0,6.0,12.0,77.0,10.0,14.0,15.0,...,0.0,0.0,0.0,0.0,0.0,273.0,88.0,7.1,2.3,3059.0
2,151.0,2.0,11.0,4.0,6.0,12.0,77.0,10.0,14.0,15.0,...,0.0,0.0,0.0,0.0,0.0,2414.0,390.0,7.8,1.3,30610.0
3,151.0,2.0,11.0,4.0,6.0,12.0,77.0,10.0,14.0,15.0,...,0.0,0.0,0.0,0.0,0.0,2966.0,413.0,7.6,1.1,28561.0
4,151.0,2.0,11.0,4.0,6.0,12.0,77.0,10.0,14.0,15.0,...,0.0,0.0,0.0,0.0,0.0,3846.0,492.0,8.0,1.0,41934.0

In [87]:
acs_svi_merged.shape

(827, 222)

In [88]:
print(len(acsMain.columns))
print(len(svi.columns))

102
120

In [121]:
# Change column back to "FIPS"
acs_svi_merged.drop('FIPS_right',axis=1,inplace=True)
acs_svi_merged.shape

(827, 221)

In [123]:
acs_svi_merged = acs_svi_merged.rename(columns={'FIPS_left':'FIPS'})
acs_svi_merged.FIPS

0       1003
1       1015
2       1043
3       1049
4       1051
       ...
822    55133
823    55139
824    55141
825    56021
826    56025
Name: FIPS, Length: 827, dtype: int32

In [124]:
# now write to a CSV file
acs_svi_merged.to_csv('acs_svi_merged2.csv')

### <u> Merge ACS/SVI and Covid Deaths: </u>

In [103]:
deaths = pd.read_csv('covid_data.csv')
deaths = deaths.rename(columns={'fips':'FIPS'})
deaths.head()

   FIPS  total_cases  fips.1  total_death
0  1001       708004    1001       9924.0
1  1003      2200012    1003      25784.0
2  1005       289767    1005       4583.0
3  1007       285435    1007       5866.0
4  1009       690891    1009       9927.0

In [98]:
deaths.dtypes ## need to add a 0 onto the fips

FIPS             int64
total_cases      int64
fips.1           int64
total_death    float64
dtype: object

In [104]:
deaths['FIPS'] = deaths['FIPS'].astype(str)
deaths['FIPS'] = deaths['FIPS'].str.rjust(5,'0')
#svi['FIPS'] = svi['FIPS'].str.zfill(5)
#deaths['FIPS'] = deaths['FIPS'].astype(int)
deaths.head()

    FIPS  total_cases  fips.1  total_death
0  01001       708004    1001       9924.0
1  01003      2200012    1003      25784.0
2  01005       289767    1005       4583.0
3  01007       285435    1007       5866.0
4  01009       690891    1009       9927.0